# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

backend/config/
backend/package-lock.json
backend/package.json
frontend/package-lock.json
frontend/package.json
frontend/README.md
